.popup{
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    transition: all 0.5s;
    z-index: 10;
    &.active{
        transform: translateX(0);
    }
}
.wrapper__popup.popup2{
    display: none;
}
.wrapper__popup{
    position: relative;
    width: 650px;
    height: 660px;
    margin-top: 10%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;

    @include media-tablet{
        width: 76vw;
        height: auto;
        margin-top: 10%;
        margin: auto;
        margin-top: 5%;
    }
}

.popup__title{
    padding: 25px 0px 30px;
    font-family:'Aleo', sans-serif;
    @include font(3.2rem, 700, 3.8rem);
    color: $color-popup;
    letter-spacing: 0.01em;

    @include media-tablet{
        padding: 15px 0px;
        @include font(2.5rem, 700, 3.8rem);
    }
    @include media-mobile{
        padding: 10px 0px;
        @include font(1.5rem, 500, 2rem);
    }
}

.popup__form{
    padding: 0 23%;
    margin: 0 0 20px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    background: $color-text;
    border: none;
    border-radius: 10px;
    @include media-tablet{
        padding: 0 5%;
        margin: 1% 5%;
    }
    @include media-mobile{
        padding: 0;
        margin: 1% 5%;
        height: auto;
    }
    input::-webkit-input-placeholder { 
        color: $color-popup;
    }

    input{
        padding: 0;
        border: none;
        background: none;
        font-family: "Red Hat Text", sans-serif;
        @include font(2rem, 400, 2.6rem);
        width: auto;

        @include media-mobile{
            @include font(1.3rem, 400, 2rem);
        }
    }
}


.popup__form.active{
    background: $color-popup-form;
    input::-webkit-input-placeholder { 
        color: $color-text;
    }
}

.hidden{
    display:none
}
.popup__ico--fsb{
    background: url('../assets/svg/fsb.svg') center no-repeat;
    width: 24px;
    height: 24px;
    padding: 15px;
    @include media-mobile{
        width: 15px;
        height: 15px;
        padding: 10px;
    }
}
.popup__ico--google{
    background: url('../assets/svg/google.svg') center no-repeat;
    width: 24px;
    height: 24px;
    padding: 15px 30px 15px 0px;
    @include media-mobile{
        width: 15px;
        height: 15px;
        padding: 10px;
    }
}

.title--or {
    padding: 10px;
    @include media-tablet{
        padding: 5px 10px;
    }
}
.title span {
    display: inline-block;
    vertical-align: middle;
    color: rgba(13, 96, 111, 0.5);
    font-family:'Aleo', sans-serif;
    @include font(2rem, 700, 2.4rem);

    @include media-mobile{
        @include font(1.5rem, 500, 2rem);
    }


}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: rgba(13, 96, 111, 0.5);
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -5px;
}
.title:after {
    margin-right: -100%;
    right: -5px;
}

.registr__group{
    display: flex;
    flex-direction: column;
    width: inherit;

    label{
        margin: 0 45px;
        color: $color-popup;
        font-family:'Aleo', sans-serif;
        @include font(1.6rem, 400, 1.9rem);

        @include media-tablet{
            margin: 0 20%;
        }
        @include media-mobile{
            margin: 0 10%;
            @include font(1.3rem, 400, 1.9rem);
        }
    }

    input {
        padding: 0 18%;
        margin: 7px 45px 20px;
        height: 50px;
        display: flex;
        background: #FFFFFF;
        border: none;
        border-radius: 10px;

        @include media-tablet{
            padding: 0 5%;
            margin: 1% 20%;
        }
        @include media-mobile{
            padding: 0 15%;
            margin: 1% 13%;
            height: 30px;
        }
    }
}
.popup__button{
    margin: 10px;
    .popup__btn{
        font-family: "RedHatText", sans-serif;
        @include font(2rem, 400, 2.6rem);
        padding: 12px 245px;

        @include media-tablet{
            padding: 5px 50px;
        }
        @include media-mobile{
            padding: 0px 20px;
            @include font(1.5rem, 400, 2rem);
        }
    }
}

.hr{
    margin: 25px 0;
    border: none;
    background: rgba(13, 96, 111, 0.5);
    height: 2px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 85%;

    @include media-tablet{
        margin: 5px 0;
    }
}
.popup__text1, .popup__text2{
    font-family: "Aleo", sans-serif;
    @include font(1.5rem, 700, 1.8rem);
    color:  rgba(13, 96, 111, 0.5);;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);

    @include media-mobile{
        padding: 5px;
        @include font(1.5rem, 500, 2rem);
    }

    a{
        color: $color-popup;

    }
}