.story{
    display: flex;
    padding-bottom: 25px;

    @include media-mobile{
        padding-bottom: 15px;
     }

    &:nth-child(4){
        padding-bottom: 35px; 

        @include media-mobile{
            padding-bottom: 10px;
         }
    }

    .img__wrapper{
        padding: 0 5px;

        @include media-tablet{
            width: 30%;
            flex-shrink: 0;
         }
        @include media-mobile{
            width: 155px;
            height: 130px;
            flex-shrink: 0;
            padding: 0;
         }
    }

    .story__image{
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
        @include media-laptop{
            width: 300px;
        }

        @include media-tablet{
            display: none;
        }
    }
    .story__content{
        padding-left: 35px;
        text-align: left;
        @include media-tablet{
            padding-left: 5px;
        }
        @include media-tablet{
            padding-left: 10px;
        }
    }
    
    .story__description{
        padding-top: 24px;
        font-family:'Aleo', sans-serif;
        @include font(2rem, 400, 2.4rem);
        color: $color-additional;
        // letter-spacing: .002em;
        @include media-laptop{
            padding-top: 10px;
            height: 140px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }

        @include media-tablet{
            @include font(.9rem, 400, 1.1rem);
            padding-top: 10px;
            height: 100px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        @include media-tablet{
            @include font(.9rem, 400, 1.1rem);
            padding-top: 10px;
            height: 90px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
        }
    }

    .readm{
        font-family:'Aleo', sans-serif;
        @include font(2rem, 700, 2.4rem);
        color: $color-additional;
        text-decoration: underline;
        font-weight: bold;
        @include media-laptop{
        }

        @include media-tablet{
            @include font(.9rem, 700, 1.1rem);
        }
        @include media-tablet{
            @include font(.9rem, 700, 1.1rem);
        }
    }

}

.story--thailand .img__wrapper{

    @include media-tablet{
        background: url('../assets/img/thailand-mini.jpg') no-repeat center;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
     }

}
.story--utah .img__wrapper{

    @include media-tablet{
        background: url('../assets/img/utah-mini.jpg') no-repeat center;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
     }

}
.story--mount .img__wrapper{

    @include media-tablet{
        background: url('../assets/img/mount-mini.jpg') no-repeat center;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
     }

}
.story--canion .img__wrapper{

    @include media-tablet{
        background: url('../assets/img/canion-mini.jpg') no-repeat center;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
     }

}