$color-brend: #F2785C;
$color-additional: #0D606F;
$color-hover: #2fadc4;
$color-social: #F8F8F8;
$color-text: #FFFFFF;
$color-overlay: rgba(80, 80, 80, 0.6);
$color-popup: #0D606F;
$color-popup-form: #1877F2;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 391px;
$mobile-small-width: 320px;